# National Health and Nutrition Examination Survey (NHANES)
[https://wwwn.cdc.gov/nchs/nhanes/](https://wwwn.cdc.gov/nchs/nhanes/)

Este laboratório usará dados extraídos do NHANES.

## NHANES datasets from 2013-2014

Foram extraídos dados do [NHANES 2013-2014](https://wwwn.cdc.gov/nchs/nhanes/continuousnhanes/default.aspx?BeginYear=2013).

Os dados estão disponíveis em arquivos CSV no diretório `/data/nhanes`. Lá está disponível a documentação do esquema dos arquivos.

# Tarefa 1 - Esquema Relacional

Analise os arquivos CSV que estão no diretório `/data/nhanes` e escreva um esquema relacional referente às tabelas, suas chaves primárias e estrangeiras (não é SQL ainda). Coloque a chave primária com dois underlines antes e dois depois:

\__teste\__

Pessoa (
  __Id__ VARCHAR,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)

  Medication_use (
  Person(fk:__id__) INTEGER,
  Code(fk:__Code__) VARCHAR,
  Days_use INTEGER

  Medication (
  __Code__ VARCHAR(6),
  Name VARCHAR(100)

## Criação das Tabelas em SQL e Importação de Dados

Considere o seguinte exemplo em que é criada uma tabela em SQL e importado dados do arquivo CSV `demographic-person.csv`.

In [2]:
%defaultDatasource jdbc:h2:mem:db

In [3]:
CREATE TABLE Pessoa (
  Id VARCHAR(5) NOT NULL,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('nhanes/demographic-person.csv');

In [ ]:
SELECT * FROM Pessoa;

# Tarefa 2 - Criação das Tabelas em SQL e Importação de Dados

Escreva instruções SQL para montar as duas tabelas restante, conforme definido no esquema relacional da **Tarefa 1**.

**Importante:** não defina chave primária para a tabela de uso de medicamento.

Durante a criação das tabelas, realize a importação dos dados do arquivo CSV nas tabelas criadas, conforme exemplo anterior.

In [5]:
DROP TABLE IF EXISTS Medication_use;
DROP TABLE IF EXISTS Medication;

CREATE TABLE Medication_use (
  Person INTEGER NOT NULL,
  Code VARCHAR(6) NOT NULL,
  Days_use INTEGER
) AS SELECT
    person_id,
    drug_code,
    days_use
FROM CSVREAD('nhanes/medications-use.csv');

CREATE TABLE Medication (
  Code VARCHAR(6) NOT NULL,
  Name VARCHAR(100) NOT NULL
) AS SELECT
    code,
    name
FROM CSVREAD('nhanes/medications-drug.csv');

# Tarefa 3 - Consultas Simples

Execute as consultas a seguir.

a) Liste pessoas com idade acima de 60

In [6]:
SELECT * FROM Pessoa WHERE age > 60;

b) Liste as idades das pessoas cadastradas (sem repetições)

In [7]:
SELECT DISTINCT * FROM Pessoa;

c) Liste código das pessoas, idade, código dos medicamentos que usaram e dias de uso

In [8]:
SELECT Pessoa.id, Pessoa.age, Medication.code, Medication_use.days_use 
FROM Pessoa 
JOIN Medication_use
ON pessoa.id = medication_use.person
JOIN Medication
ON Medication.code = medication_use.code;

d) Liste código das Pessoas, idade, nome dos medicamentos que usaram e quantos dias de uso

In [9]:
SELECT Pessoa.id, Pessoa.age, Medication.name, Medication_use.days_use 
FROM Pessoa 
JOIN Medication_use
ON pessoa.id = medication_use.person
JOIN Medication
ON Medication.code = medication_use.code;

e) Liste nome dos medicamentos que foram usados por pessoas (sem repetições)

In [10]:
SELECT DISTINCT Medication.name
FROM Medication
JOIN Medication_use
ON Medication.code = medication_use.code;

f) Liste nome dos medicamentos usados por mais de 2.000 dias (sem repetições)

In [11]:
SELECT DISTINCT Medication.name
FROM Medication
JOIN Medication_use
ON Medication.code = medication_use.code
WHERE Medication_use.days_use > 2000;